<header>
<div class="content-search">
    <div class="header-title">
        <h2>"There are worse crime than burning books.
            One of them is not reading them"-Joseph Brodsky-</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio dolore dolorem reru</p>
    </div>
    <div class="search-form">
            <h3>Search your book :</h3>
            <form>
            <input type="text" placeholder="search by title or author name"/>
            <button type="submit">Search</button>
            </form>
    </div>
</div>
</header>