footer {
    background-color: #fff;
    color: var(--pink);
    box-shadow: 0 -2px 2px rgba(167, 167, 167, 0.2);
    
  }
  .footer-content{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    padding: 25px;
    padding-left: 35px;
    
  }

  .footer-content .about{
    max-width: 400px;
    
  }
  .about .logo-text{
    display: flex;
    flex-direction: row;
  }
.about img{
    width: 40px;
    height: 40px;
  }
.about p{
  color: black;
}

.fa-phone , .fa-envelope{
  color: var(--blue);
  margin-top: 20px;
  margin-left: 15px;
}
.contact span{
  color: black;
}
  .fab{
    border-radius: 50%;
    margin-right:15px;
    margin-top: 15px;
    padding: 8px;
    color: #fff;
    font-size: 22px;
  }
  .fa-facebook{
    background-color: #4158d0;;
  }
  .fa-twitter{
    background-color: #0693e3;
  }

  .fa-instagram{
    background-color: #cf2aba;
  }
  .fa-youtube{
    background-color: #a00;
  }


  .footer-bottom{
    background-color: var(--pink);
    color: #fff;
    text-align: center;
    padding: 2px;
  }
.footer-section a{
  text-decoration: none;
  color: black;
}
  