<footer>
    <div class="footer-content">
      <div class="footer-section about">
   
    <h2 class="logo-text">
      <img src="../../assets/images/logoImg.jpg" alt="My Logo">
      <span>Book</span>Store</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i> &nbsp; 123-456-7890</span>
          <span><i class="fas fa-envelope"></i> &nbsp; info@bookstore.com</span>
        </div>
        <div class="socials">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
  
      <div class="footer-section links">
        <h2>Informations</h2>
        <br>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Delivery</a></li>
          <li><a href="#">Refund</a></li>
        </ul>
      </div>
      <div class="footer-section links">
        <h2>My Account</h2>
        <br>
        <ul>
          <li><a href="#">My account</a></li>
          <li><a href="#">Shopping Cart</a></li>
          <li><a href="#">Payment</a></li>
        </ul>
      </div>
      <div class="footer-section links">
        <h2>Important links</h2>
        <br>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
  
  
    </div>
    <div class="footer-bottom">
      &copy; 2023
    </div>
  </footer>