<footer>
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text"><span>Book</span>Store</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i> &nbsp; 123-456-7890</span>
          <span><i class="fas fa-envelope"></i> &nbsp; info@bookstore.com</span>
        </div>
        <div class="socials">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
  
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <br>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
  
      <div class="footer-section contact-form">
        <h2>Contact Us</h2>
        <br>
        <form action="#" method="post">
          <input type="email" name="email" class="text-input contact-input" placeholder="Your email address...">
          <textarea rows="4" name="message" class="text-input contact-input" placeholder="Your message..."></textarea>
          <button type="submit" class="btn btn-big contact-btn"><i class="fas fa-envelope"></i> Send</button>
        </form>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; BookStore.com | Designed by John Doe
    </div>
  </footer>